<fieldset class="cae-fieldset">
  <legend>Which technologies do you offer?</legend>
  <div class="cae-checks">
    <label><input type="checkbox" name="technologies" value="morpheus8"> Morpheus8</label>
    <label><input type="checkbox" name="technologies" value="hifu"> HIFU</label>
    <label><input type="checkbox" name="technologies" value="rf_microneedling"> RF Microneedling</label>
    <label><input type="checkbox" name="technologies" value="hydrafacial"> Hydrafacial</label>
    <label><input type="checkbox" name="technologies" value="prx_t33"> PRX-T33</label>
  </div>
</fieldset>
